<body>
  <head>
    <title>Whereaboutzz</title>
  </head>
  <div id="map-container"></div>
  <script src="{{ url_for('static', filename='css/5grid/jquery.js') }}"></script>
  <script>
    var x=document.getElementById("map-container");
    getLocation();
    function getLocation() {
      if (navigator.geolocation)
      {
      navigator.geolocation.getCurrentPosition(getPosition,showError);
      }
      else{x.innerHTML="Geolocation is not supported by this browser.";}
    }

    function getPosition(position) {
      lat = position.coords.latitude;
      lon = position.coords.longitude;
      var url = '/home';
      var form = $('<form action="' + url + '" method="post" style="display:none">' +
        '<input type="text" name="lat" value="' + lat + '" />' +
        '<input type="text" name="lon" value="' + lon + '" />' +
        '</form>');
      $('body').append(form);
      $(form).submit();
      //window.location.href = '/home?lat=' + lat + '&lon=' + lon;
    }

  // function showPosition(position)
  //   {
  //   lat=position.coords.latitude;
  //   lon=position.coords.longitude;
  //   latlon=new google.maps.LatLng(lat, lon)
  //   mapholder=document.getElementById('map-container')
  //   mapholder.style.height='60%';
  //   mapholder.style.width='100%';

  //   var myOptions={
  //   center:latlon,zoom:14,
  //   mapTypeId:google.maps.MapTypeId.ROADMAP,
  //   mapTypeControl:false,
  //   navigationControlOptions:{style:google.maps.NavigationControlStyle.SMALL}
  //   };
  //   var map=new google.maps.Map(document.getElementById("map-container"),myOptions);
  //   var marker=new google.maps.Marker({position:latlon,map:map,title:"You are here!"});
  //   }

  function showError(error)
    {
    switch(error.code) 
      {
      case error.PERMISSION_DENIED:
        x.innerHTML="User denied the request for Geolocation."
        break;
      case error.POSITION_UNAVAILABLE:
        x.innerHTML="Location information is unavailable."
        break;
      case error.TIMEOUT:
        x.innerHTML="The request to get user location timed out."
        break;
      case error.UNKNOWN_ERROR:
        x.innerHTML="An unknown error occurred."
        break;
      }
    }
  </script>
</body>