<body>
  <head>
    <title>Whereaboutzz</title>
  </head>
  <div id="map-container"></div>
  <script src="{{ url_for('static', filename='css/5grid/jquery.js') }}"></script>
  <script>
    var x=document.getElementById("map-container");
    getLocation();
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(sendPositionToDB,showError);
      } else{x.innerHTML="Geolocation is not supported by this browser.";}
    }

    function sendPositionToDB(position) {
      lat = position.coords.latitude;
      lon = position.coords.longitude;
      var url = '/user-location';
      var form = $('<form action="' + url + '" method="post" style="display:none">' +
        '<input type="text" name="lat" value="' + lat + '" />' +
        '<input type="text" name="lon" value="' + lon + '" />' +
        '</form>');
      $('body').append(form);
      if ('{{ redirect }}') {
        $('form').append(
          '<input type="text" name="redirect" value="{{ redirect }}" />'
        );  
      }
      $(form).submit();
    }

  function showError(error)
    {
    switch(error.code) 
      {
      case error.PERMISSION_DENIED:
        x.innerHTML="User denied the request for Geolocation."
        break;
      case error.POSITION_UNAVAILABLE:
        x.innerHTML="Location information is unavailable."
        break;
      case error.TIMEOUT:
        x.innerHTML="The request to get user location timed out."
        break;
      case error.UNKNOWN_ERROR:
        x.innerHTML="An unknown error occurred."
        break;
      }
    }
  </script>
</body>