<div id="header-wrapper">
	<header id="header">
		<div class="5grid-layout">
			<div class="row">
				<div class="5u" id="logo">
					<h1><a href="/" class="mobileUI-site-name">Whereaboutzz</a></h1>
					<p>Explore the world, simply.</p>
				</div>
				<div class="7u" id="menu">
					<nav class="mobileUI-site-nav">
						<ul>
							<li class="{{ homeActive }}"><a href="/">Home</a></li>
							<li class="{{ nearbyActive }}"><a href="/nearby">Nearby</a></li>
							<li class="{{ walkingActive }}"><a href="/walking-tour">Walking Tour</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
</div>