{% extends "layout.html" %}

{% block head %}
{{ super() }}
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
{% endblock head %}

{% block content %}
<!-- Banner Content -->
<div id="banner" class="row">
	<div class="12u">
		<section id="map-container">

		</section>
	</div>
</div>
{% block extracontent %}
<div id="content" class="row">
	<div class="3u">
		<section>
			<img src='{{ content.imageurl }}' />
		</section>
	</div>
	<div class="9u">
		<section>
			<h3>Powered by Wikipedia</h3>
			<p>{{ content.content }} <a href='{{ content.wikiurl }}' target="_blank">More...</a></p>
		</section>
	</div>
</div>
{% endblock extracontent%}
{% endblock content %}

{% block javascript %}
<script>
	var executed = false;
	var mapholder = document.getElementById('map-container');
	var marker;
	var map;

	$(document).ready(function() {
		try {
			if (!executed) {
				showPosition({{ lat }}, {{ lon }});
				executed = true;
			}
		} catch(e) {
			console.log(e);
		}
	});

	var isMobile = navigator.userAgent.match(/(iPhone|iPod|iPad|Android|BlackBerry)/);
	if (isMobile) {
		$('#content').find('.3u').remove();
	}

	function showPosition(lat, lon) {
		if (document.documentElement.clientWidth < 500) isMobile = true;
		var latlon = new google.maps.LatLng(lat, lon);
		//Default values for mobile
		var mapControls = {style:google.maps.NavigationControlStyle.SMALL};

		if (isMobile) {
			mapholder.style.height='230px';
		} else {
			mapControls = {style:google.maps.NavigationControlStyle.LARGE};
			mapholder.style.height='400px';
		}
		mapholder.style.width='100%';
		var myOptions = {
			center:latlon,
			zoom:15,
			mapTypeId:google.maps.MapTypeId.ROADMAP,
			mapTypeControl:false,
			scrollwheel: false,
			navigationControlOptions:mapControls,
		};
		
		// if ($("body").hasClass("is-mobile")) {
		// 	var latLonStr = lat + "," + lon;
		// 	var m = $(mapholder);
		// 	var url = "http://maps.google.com/maps/api/staticmap?markers=" + latLonStr + "&sensor=false&size=" + m.width() + "x" + m.height()+ "&zoom=" + parseInt(myOptions.zoom) + "&scale=2";
		// 	var image = $(mapholder).append (
		// 		"<img src='" + url + "'style='height'=" + m.height() + " width=" + m.width() + "/>"
		// 	);
		// 	$(image).css({"height" : m.height(), "width" : m.width()});
		// } else {
			map = new google.maps.Map(mapholder,myOptions);
			marker = new google.maps.Marker({position:latlon,map:map,title:"You are here"});
			addNameOfLocation(map, "{{ city }}", "{{ state_short }}");
			addRefreshButton(map);
		// }
	}

	function addNameOfLocation(map, city, state) {
		var oldLabel = $("#map-container").find('.city-state-label');
		if (oldLabel) {
			oldLabel.remove();
		}
		var myTitle = document.createElement('h1');
		$(myTitle).css({
			"color": "black",
			"font-size": 20,
			"font-family": "'Oswald', sans-serif",
			"margin": 10
		});
		$(myTitle).addClass('city-state-label');
		myTitle.innerHTML =  city + ", " + state;

		map.controls[google.maps.ControlPosition.TOP_LEFT].push(myTitle);
	}

	function addRefreshButton(map) {
		var myButton = document.createElement('button');

		myButton.innerHTML = "Refresh";
		$(myButton).button({
			icons: {
				primary: "ui-icon-arrowrefresh-1-s"
			}
		});
		$(myButton).css({
			"font-size": 14,
			"font-family": "'Oswald', sans-serif"
		});
		$(myButton).click(function() {
			if ($(this).hasClass('ui-state-disabled')) {
				alert("You can't refresh your location that quickly!");
			} else {
				//Clear old marker
				marker.setMap(null);
				$(this).removeClass('ui-state-hover');
				$(this).addClass('ui-state-disabled');
				var that = this;
				var duration = 10000;
		        setTimeout(function() {
		            $(that).removeClass("ui-state-disabled");
		            $(that).addClass('ui-state-default');
		        }, duration);
				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(positionCallback(),showError);
				} else {
					alert("Geolocation is not supported by this browser.");
				}
			}
		});
		map.controls[google.maps.ControlPosition.TOP_RIGHT].push(myButton);
	}

	//TODO add ability to change geocoder callback depending on what page calls it
	//i.e. nearby.html would update city+state name but also markers on map for places of interest
	function geocoderCallback(map, results) {
		$.ajax({
            type: "GET",
            url: "user-location",
            success: function(data) {
            	console.log(data);
            	addNameOfLocation(map, data.city, data.state_short);
            	var latlon = new google.maps.LatLng(data.lat, data.lon);
            	marker = new google.maps.Marker({animation:google.maps.Animation.DROP,position:latlon,map:map,title:"You are here!"});
				map.setCenter(latlon);
            }
        });
	}

	function positionCallback() {
		var callback = function getPosition(position) {
			var lat = position.coords.latitude;
			var lon = position.coords.longitude;
			var latlon = new google.maps.LatLng(lat, lon);
			var url = '/user-location';
			var form = $('<form action="' + url + '" method="post" style="display:none">' +
				'<input type="text" name="lat" value="' + lat + '" />' +
				'<input type="text" name="lon" value="' + lon + '" />' +
				'</form>');
			$('body').append(form);

			$(form).submit(function() {
				$.ajax({
		            type: "POST",
		            url: $(this).attr('action'),
		            data: $(this).serialize(),
		            success: function(response) {
						//Add refresh to city-state-label and marker
						var geocoder = new google.maps.Geocoder();
						geocoder.geocode( { 'latLng': latlon }, function(result, status) {
						    geocoderCallback(map, result);
						});
					},
					error: function(xhr, ajaxOptions, thrownError) {
						console.log(xhr);
						console.log(thrownError);
					}
		        });
				return false;
			});
			$(form).submit();
	    }

	    return callback;
	}

	

	function showError(error) {
		console.log(error);
		switch(error.code) {
			case error.PERMISSION_DENIED:
			x.innerHTML="User denied the request for Geolocation."
			break;
			case error.POSITION_UNAVAILABLE:
			x.innerHTML="Location information is unavailable."
			break;
			case error.TIMEOUT:
			x.innerHTML="The request to get user location timed out."
			break;
			case error.UNKNOWN_ERROR:
			x.innerHTML="An unknown error occurred."
			break;
		}
	}
</script>
{% endblock javascript %}