{% extends "home.html" %}
{% block extracontent %}
<div id="content" class="row">
	<div id="food" class="fs-content">
		<div id="marketing" class="row">
			<div class="12u">
				<section class="box">
					<h2>Food</h2>
				</section>
			</div>
		</div>
	</div>
	<div id="sights" class="fs-content">
		<div id="marketing" class="row">
			<div class="12u">
				<section class="box">
					<h2>Sights</h2>
				</section>
			</div>
		</div>
	</div>
	<div id="outdoors" class="fs-content">
		<div id="marketing" class="row">
			<div class="12u">
				<section class="box">
					<h2>Outdoors</h2>
				</section>
			</div>
		</div>
	</div>
	<div id="arts" class="fs-content">
		<div id="marketing" class="row">
			<div class="12u">
				<section class="box">
					<h2>Arts</h2>
				</section>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="12u">
			<section>
				<a href="https://www.foursquare.com"><img src="https://playfoursquare.s3.amazonaws.com/press/logo/poweredByFoursquare_gray.png" class="foursquare-image" target="_blank"/></a>
			</section>
		</div>
	</div>
</div>
{% endblock extracontent %}
{% block javascript %}
{{ super() }}
<script>
	var data;
	var content = $("#content");
	var locationMarkerArray = [];

	var nearbyExecuted = false

	$(document).ready(function() {
		try {
			if (!nearbyExecuted) {
				{% block foursquareData %}
					var data = {{data|tojson|safe}};
					data.food.response.groups[0].items.sort(function(a,b) { return parseFloat(b.venue.rating) - parseFloat(a.venue.rating)} );
					data.sights.response.groups[0].items.sort(function(a,b) { return parseFloat(b.venue.rating) - parseFloat(a.venue.rating)} );
					data.outdoors.response.groups[0].items.sort(function(a,b) { return parseFloat(b.venue.rating) - parseFloat(a.venue.rating)} );
					data.arts.response.groups[0].items.sort(function(a,b) { return parseFloat(b.venue.rating) - parseFloat(a.venue.rating)} );
				{% endblock foursquareData %}
				{% block parse %}
					parseData(data);
				{% endblock parse %}
				nearbyExecuted = true;
			}
		} catch(e) {
			console.log(e);
		}
	});
	function parseData(data) {
		var foodMarkup = $("#food");
		var sightsMarkup = $("#sights");
		var outdoorsMarkup = $("#outdoors");
		var artsMarkup = $("#arts");
		//console.log(data);
		var food = data.food.response.groups[0].items;
		var sights = data.sights.response.groups[0].items;
		var outdoors = data.outdoors.response.groups[0].items;
		var arts = data.arts.response.groups[0].items;
		var fullBounds = new google.maps.LatLngBounds();
		addVenueToMarkup(food, foodMarkup, "food", map, fullBounds);
		addVenueToMarkup(sights, sightsMarkup, "sights", map, fullBounds);
		addVenueToMarkup(outdoors, outdoorsMarkup, "outdoors", map, fullBounds);
		addVenueToMarkup(arts, artsMarkup, "arts", map, fullBounds);
		//Fit all the points on the initial map zoom
		map.fitBounds(fullBounds);
	}

	function getContentString(venue) {
		var phone = venue.contact.formattedPhone;
		if (phone == undefined) phone = "No phone number";
		var rating = venue.rating;
		if (rating == undefined) rating = '<li class="first">No Rating</li>';
		else rating = '<li class="first">Rating: ' + rating + '/10</li>';
		return '<h3>' + venue.name + '</h3> \
				<p class="subtitle">' + metersToMiles(venue.location.distance) + ' miles away</p> \
				<ul class="style4">'
					+ rating +
					'<li>' + phone + '<br>' + venue.location.address + '<br>' + venue.location.city + ', ' + venue.location.state +'</li> \
				</ul>';
	}

	function addPointsToMap(map, lat, lon, venue, type) {
		var latlon = new google.maps.LatLng(lat, lon);
		var marker = new google.maps.Marker({position:latlon,map:map,title:venue.name});
		var iconFile = 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png';
		if (type == "food") iconFile = '/static/img/restaurant.png';
		else if (type == "sights") iconFile = '/static/img/sights.png';
		else if (type == "outdoors") iconFile = '/static/img/outdoors.png';
		else if (type == "arts") iconFile = '/static/img/arts.png';
		marker.setIcon(iconFile);
		var contentString = getContentString(venue);
		var infowindow = new google.maps.InfoWindow({
		    content: contentString
		});
		google.maps.event.addListener(marker, 'click', function() {
			infowindow.open(map,marker);
		});
		locationMarkerArray.push(marker);
		return marker;
	}

	function metersToMiles(meters) {
		var mi = meters * 0.000621371;
		return mi.toFixed(2);
	}

	function addVenueToMarkup(data, markup, type, map, bounds) {
		var originalDiv = markup;
		//data.sort(function(a,b) { return parseFloat(b.venue.rating) - parseFloat(a.venue.rating)} );
		//console.log(data);
		var len = data.length;
		if (len > 8) len = 8;
		for (var i = 0; i < len; i++) {
			var venue = data[i].venue;
			var appendNewContainer = false;
			//If 4 venues already added
			if (i % 4 == 0) {
				//append a new container and append to original div specified
				markup = originalDiv;
				appendNewContainer = true;
			} else {
				//if this is the 5th div to append, get the second row
				if (i > 4) markup = originalDiv.children(':first').next().next();
				else markup = originalDiv.children(':first').next();
			}
			var markupStr = 
			'<div class="3u"> \
				<section class="box">'
					+ getContentString(venue) + 
				'</section> \
			</div>';
			if (appendNewContainer) {
				markupStr = '<div id="marketing" class="row venues">' + markupStr + '</div>';
			}
			markup.append(markupStr);
			addPointsToMap(map, venue.location.lat, venue.location.lng, venue, type);
			var point = new google.maps.LatLng(venue.location.lat, venue.location.lng);
			bounds.extend(point);
		}
	}

	function clearAllMarkers(arr) {
		for (var i = 0; i < arr.length; i++) {
			arr[i].setMap(null);
		}
		arr = [];
	}

	function clearOldDivs() {
		$(".venues").remove();
	}
	{% block defineFns %}
	{% endblock defineFns %}
</script>
{% endblock javascript %}

{% block refreshHandler %}
	clearAllMarkers(locationMarkerArray);
	clearOldDivs();
	parseData(data.data);
{% endblock refreshHandler %}